html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 14px;
  background-image: url('/background.png');
  background-size: 256px;
}

.logoBig {
  width: 100%;
  max-width: 621px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
