html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  background: url('/background.png') center fixed;
  background-size: 256px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.doodleArea {
  background-color: #ffffff;
  border-radius: 2px;
}

a {
  text-decoration: None;
}

h3 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
