html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 14px;
  background: url('/background.png') center fixed;
  background-size: 256px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.containerLogoBig {
  justify-content: center;
  display: flex;
}

.header {
  width: 100%;
  min-height: 50px;
  margin-bottom: 8px;
}

.logoBig {
  width: 100%;
  max-width: 621px;
  vertical-align: middle;
}

.doodleArea {
  background-color: #ffffff;
  border-radius: 2px;
}
